*
.text-center {
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: 'Questrial';
}

.pindex {
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: 'Questrial';
}

.row {
  text-align: center;
  color: black;
  font-size: 40px;
}

.img-nos {
  border: 6px solid black;
  margin: 15px;
}
.img-nos:hover {
  padding: 5px;
  transform: scale(2, 2);
  transition: all 2s;
}

body{
  background-color: white;
  background-image: repeating-linear-gradient(white, #59bfff 170%);
}

.container-fluid, .h1-ind {
  background-color: #e3f2fd;
  border: 1px, solid, beige;
  
}
h2{
  font-style: italic;
  font-family: 'Questrial';
}
.h1-ind {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin:5px;
  font-style: italic;
  font-size: 70px;
  font-family: 'Questrial';
}

.img-head {
  display: flex;
  justify-content: center;
}
.h2-cat{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin:5px;
  font-style: italic;
  font-size: 70px;
  font-family: 'Questrial';
}
.pindex {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-family: 'Questrial';
}

footer ul{
  list-style-type: none;
}
  
footer{
  margin:20px;
}

.carousel-inner{
  border: solid 5px black;
}

.h1-ind{
  background-color: #59bfff;
  border: 5px solid black;
  text-align: center;
  font-family: 'Questrial';
}

.navbar{
  border: 2px solid black;
}

p{
  font-family: 'Questrial';
}

form{
  display: flex;
  flex-direction: column;
}

.h2-msj{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin:5px;
  font-style: italic;
  font-size: 70px;
  font-family: 'Questrial'
}

.speaker-form{
  background-color:#e3f2fd;
  border: 1px solid black;
  border-radius: 3px;
  width: 60%;
  margin: 0 0 40px 0;
  padding: 50px 50px;
}

.form-row{
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Questrial';
  font-style: italic;
}

.form-row input[type="text"],
.form-row input[type="email"]{
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px
}


.form-row label{
  margin-bottom: 15px;
}

.form-row textarea{
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 7px;
  min-height: 200px;
  min-width: 100%;
  resize: none;     
}

.form-row .instructions{
  color: #999;
  margin-bottom: 30px;
  font-size: 14px;
}


.form-row button{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Questrial';
  color: black;
  background-color: #59bfff;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover{
  background-color: #76aeed;
}

.form-row button:active{
  background-color: #407fc7;
}

.body-form{
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.row{
  margin: 20px;
}

.exito-img-center{
display: flex;
justify-content: center;
}

.exito-img{
  border: solid 4px black;
  display: flex;
  justify-content: center;
}

.tit-nos{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin:5px;
  font-style: italic;
  font-size: 70px;
  font-family: 'Questrial'
}

.p-cont{
  font-style: italic;
  font-family: 'Questrial';
  list-style: none;
}

.a-cont{
  text-decoration: none;
}

.mail-footer{
  font-style: italic;
  font-family: 'Questrial';
  font-size: 15px;
}

.card{
  border: solid 3px black;
  font-family: 'Questrial';
  font-style: italic;
  background-color: #76aeed;
}

a{
  font-family: 'Questrial';
  font-style: italic;
  text-align: center;
  font-size: 20px;
}

.p-footer{
  font-style: italic;
  font-size: 10px;
}


      /*timeline clases*/


.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
  columns: black;
  font-size: 15px;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  font-family: 'Questrial';
  font-style: italic;
  color:black;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  font-family: 'Questrial';
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}


.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  font-family: 'Questrial';
  font-style: italic;
  font-size: 15px;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
    width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    background: rgb(255,255,255);
    z-index: 15;
}


.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}


/*MEDIAS QUERY PAG*/

@media screen and (max-width:576px) {
  
    .h1-ind{
      font-size: 40px;
    }

    .tit-nos{
      font-size: 30px;
    }

    .p-nos{
      font-size: 25px;
    }
    
    .h2-cat{
      font-size: 30px;
    }
  
    .p-cont{
      font-size: 24px;
    }

    .h2-msj{ 
      font-size: 30px;
  }

  .exito-img{
    width: 300px;
    height: 200px;
  }

  .pindex{
    font-size: 25px;
  }

  .card{
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  }
  
  .card-title{
    font-size:30px;
  }

  .card-text{
    font-size:20px;
  }

  .img-nos{
    width: 300px;
    height: 200px;
  }

  iframe{
    height: 300px;
  }

  .p-footer{
    font-size: 7px;
  }

}
}